* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  justify-content: center;
}

#header-center {
  display: flex;
  width: 1130px;
  height: 160px;
  background-color: yellow;
}

#header-logo,
#header-search,
#header-home {
  display: inline-block;
}

#header-logo {
  width: 238px;
  height: 100%;
  align-items: center;
  display: flex;
}
#header-logo a {
}

#header-logo a::before {
  background-image: url('./sp_main.png');
  background-size: 442px 428px;
  width: 222px;
  height: 52px;
  content: '';
  display: inline-block;
  background-position: 0px -158px;
  position: relative;
  top: -6px;
  left: -9px;
}

.blind {
  /*
    보여지지 않기 위한 요소의 css를 display: none을 사용하지 않는 이유는
    스크린 리더기가 해당 요소를 무시해버리기 때문이다.
  */

  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#header-search {
  width: 586px;
  height: 100%;
  align-items: center;
  display: flex;
  flex: 1;
}

#header-search form {
  display: flex;
  margin: 0;
}

#header-search-wrap {
  border: 2px solid #19ce60;
  border-radius: 2px;
  width: 532px;
  height: 56px;
  background-color: #fff;
  display: inline-flex;
}

#header-search-input {
  padding: 13px 15px;
  outline: none;
  width: 444px;
  height: 100%;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: 700;
  border: none;
}

#header-search button {
  width: 54px;
  height: 56px;
  background: #19ce60;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
}

#header-search button::before {
  background-image: url('./sp_main.png');
  background-size: 442px 428px;
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  background-position: -420px 0;
  position: relative;
  left: -1px;
}

#header-keyboard {
  display: inline-flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

#header-keyboard .keyboard {
  background-image: url('./sp_main.png');
  background-size: 442px 428px;
  content: '';
  display: inline-block;
  width: 20px;
  height: 12px;
  background-position: -398px -267px;
  background-repeat: no-repeat;
}

#header-keyboard .more {
  background-image: url('./sp_main.png');
  background-size: 442px 428px;
  content: '';
  display: inline-block;
  width: 10px;
  height: 5px;
  background-position: -170px -151px;
}

#header-home {
}

#main {
  height: 9999px;
  background: lightgray;
}
